In [1]:
def print_box(n, m):
  for i in range(m):
    for j in range(n):
      print("*", end="")
    print()

print_box(2,3)

**
**
**

In [2]:
def digit_sum(n):
  sum = 0
  for digit in str(n):
    sum += int(digit)
  return sum

digit_sum(345)

12

In [5]:
import math

def str_comp(str1, str2):
  length = min(len(str1), len(str2))
  for i in range(length):
    if str1[i] != str2[i]:
      if i !=0:
        return i
  return -1

str_comp('abcf', 'abbd')

2

In [7]:
def find_char(s, c):
  res = []
  for i in range(len(s)):
    if s[i]==c:
      res.append(i)
  return res

find_char('aabcbcdb', 'b')

[2, 4, 7]

In [9]:
def sum_n(n):
  if n==1:
    return 1
  else:
    return n + sum_n(n-1)

sum_n(100)

5050

In [14]:
names = ['Alice', 'Bob', 'Charlie']
ages = [24, 32, 28]

eval(repr(dict(list(zip(names, ages)))))

{'Alice': 24, 'Bob': 32, 'Charlie': 28}

enumerate() 내장 함수를 이용하여 사용자가 입력한 문자열에서 'a' 문자의 위치를 모두 찾아 출력하는 프로그램을 작성하라. 'a'가 없으면 "a가 없습니다'라는 메시지를 출력하라.

In [15]:
msg = input("메시지를 입력하라.")

flag = 0

for i, ch in enumerate(msg):
  if ch == "a":
    print(i)
    flag = 1

if flag == 0:
  print("a가 없습니다.")

메시지를 입력하라.bdfjhad
5


두 수의 합(sum), 차(sub), 곱(mul), 나누기(div)를 수행하는 함수를 각각 정의하라. 딕셔너리를 이용하여 사용자가 '1'을 입력하면 sum()을 호출하고, '2'를 입력하면 sub(), '3'을 입력하면 mul(), '4'를 입력하면 div() 함수를 호출하여 두 수의 연산을 수행하는 프로그램을 작성하라.

In [ ]:
def sum(a, b):
  return a+b

def sub(a, b):
  return a-b

def mul(a, b):
  return a*b

def div(a, b):
  return a/b

table = {'1':sum, '2':sub, '3':mul, '4':div}
op = input("하고 싶은 연산을 입력하세요.(1,2,3,4)")
func = table[op]
print(func(2,3))

다음과 같이 구성되는 문자열을 구분 문자(&, =)로 분리하여 딕셔너리로 반환하는 함수 작성 예: 문자열 'led=on&motor=off&switch=off'이고 구분 문자가 '&', '='일 때 {'led':'on', 'motor':'off', 'switch':off'}반환. Hint: dict([['a','b'], ['c', 'd']]) -> {'a': 'b', 'c': 'd'}

In [20]:
def query_parse(txt):
  items = txt.split('&')
  print(items)
  temp = []
  for item in items:
    temp.append(item.split('='))

  return dict(temp)

text = 'led=on&motor=off&switch=off'
print(query_parse(text))

['led=on', 'motor=off', 'switch=off']
{'led': 'on', 'motor': 'off', 'switch': 'off'}

Deposit 클래스를 생성하라.

In [21]:
class Deposit:
  def __init__(self, init, inter, n):
    self.initial = init
    self.interest = inter
    self.n = n
  
  def profit(self):
    return int(self.initial *(1+self.interest)**self.n)
  
deposit = Deposit(1000000, 0.035, 7)
deposit.profit()

1272279

예제의 Teacher 클래스에서 People 클래스의 __init__()를 호출하지 않고 부모 클래스의 age, name 인스턴스 변수를 이용할 수 있는가? 이용할 수 없다면 그 이유는? 이용할 수 있게 하려면 프로그램을 어떻게 수정해야 하는가?

In [23]:
class People :
    def __init__(self, age=0, name=None):
        self.__age = age
        self.__name = name

    def introMe(self):
        print("Name :", self.__name, "age :", str(self.__age))
      
    def get_age(self):
      return self.__age
    
    def set_age(self, age):
      if age > 0 :
        self.__age = age
      else:
        print("잘못된 나이입니다.")
    
    def get_name(self):
      return self.__name
    
    def set_name(self, name):
      self.__name = name

class Teacher(People) :
    def __init__(self, age=0, name=None, school=None) :
        super().__init__(age, name)
        self.school = school

    def showSchool(self):
        print("My School is ", self.school)

t = Teacher(35, "Kim", "High school")
t.introMe()
t.set_name("Lee")
t.set_age(20)
t.introMe()
t.showSchool()

Name : Kim age : 35
Name : Lee age : 20
My School is  High school

다음 Person 클래스를 상속 받는 Employee 클래스를 정의하라. Employee 클래스에 employeeID 인스턴스 변수를 추가하고 getID() 메소드를 정의하라. getID() 메소드는 employeeID를 반환하는 메소드이다.Employee 클래스를 이용하여 Employee("동양", 65, 2019)로 생성된 객체의 이름, 나이, ID를 출력하라.

In [26]:
class Person:
    def __init__(self, name, age): 
        self.name = name 
        self.age = age 

    def getName(self): 
        return self.name

    def getAge(self): 
        return self.age

class Employee(Person):
  def __init__(self, name, age, employeeID):
    super().__init__(name, age)
    self.employeeID = employeeID
  
  def getID(self):
    return self.employeeID

emp = Employee("동양", 65, 2019)
print(emp.getName())
print(emp.getAge())
print(emp.getID())

동양
65
2019

학생 정보를 관리하는 프로그램을 만드세요.

In [31]:
class Student:
  def __init__(self, name, student_id, year, major, avg_score):
    #각 학생별 초기값 설정
    self.name = name
    self.student_id = student_id
    self.year = year
    self.major = major
    self.avg_score = avg_score
  
  def get_info(self):
    #학생의 정보를 문자열로 만들어 반환
    return f"이름:{self.name}, 학번:{self.student_id}, 학년:{self.year}, 전공:{self.major}, 평점:{self.avg_score}"
  
class StudentManager:
  def __init__(self):
    self.student_list = []

  def add_student(self, student):
    #매개변수로 입력되는 Student 인스턴스를 student_list에 추가
    print(f"{student.name} 학생 추가")
    self.student_list.append(student)
  
  def remove_student(self, student_id):
    # 순차 탐색으로 student_list의 Student 인스턴스의 학번을 조회해서 학생을 찾고,
    # 찾아지면 student_list에서 삭제
    for student in self.student_list:
      if student.student_id == student_id:
        self.student_list.remove(student)
        print(f"{student_id}번의 {student.name}학생이 삭제되었습니다.")
        return
    print(f"{student_id}학번을 가진 학생이 존재하지 않습니다.")
  
  def find_student(self, student_id):
    # 순차 탐색으로 student_list에서 같은 학번의 Student인스턴스를 찾기
    for student in self.student_list:
      if student.student_id==student_id:
        print(f"학번 {student_id}는 {student.name}학생입니다.")
        return
    print(f"{student_id}학번을 가진 학생이 존재하지 않습니다.")

  def show_all_students(self):
    # student_list내의 Student 인스턴스들의 get_info를 통해 받아온 학생정보를 출력
    print("<모든 학생 정보>")
    for student in self.student_list:
      print(student.get_info())


student_manager = StudentManager()
student1 = Student("홍길동", "20230001", 2, "컴퓨터공학", 90.5)
student2 = Student("김철수", "20230002", 3, "전자공학", 85.2)
student3 = Student("이영희", "20230003", 1, "수학", 92.8)

student_manager.add_student(student1)
student_manager.add_student(student2)
student_manager.add_student(student3)

student_manager.remove_student("20230002")

student_manager.find_student("20230001")

student_manager.show_all_students()

홍길동 학생 추가
김철수 학생 추가
이영희 학생 추가
20230002번의 김철수학생이 삭제되었습니다.
학번 20230001는 홍길동학생입니다.
<모든 학생 정보>
이름:홍길동, 학번:20230001, 학년:2, 전공:컴퓨터공학, 평점:90.5
이름:이영희, 학번:20230003, 학년:1, 전공:수학, 평점:92.8

In [37]:
import datetime, calendar, numpy, pandas, random, os

os.getcwd()

'/content'