문자 'a'가 들어가는 단어를 키보드에서 입력 받아 첫 번째 줄에는 'a'까지의 문자열을 출력하고 두 번째 줄에는 나머지 문자열을 출력하는 프로그램을 작성하라.

In [2]:
word = input("단어를 입력하세요.")

print(word.replace('a','a\n'))

'''index_a = word.find('a')

if index_a != -1:
  print(word[:index_a+1])
  print(word[index_a+1:])
else:
  print(word)
'''

단어를 입력하세요.Buffalo
Buffa
lo

숫자를 문자열로 변화하는 방법은 str(num)을 이용한다. str(12) -> '12'가 된다. 반대로 문자열을 숫자로 변환하려면 int(string)을 이용한다. int('12') -> 12가 된다. 이를 이용하여 1부터 1000까지의 숫자의 각 자리수의 합을 모두 구하라. 예를 들어 234 -> 2+3+4=9가 된다

In [3]:
total = 0

for num in range(1,1001):
  digits_sum = 0
  for digit in str(num):
    digits_sum += int(digit)
  
  total += digits_sum

print(total)

13501

In [ ]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
matrix[0][1]

3명 이상 친구 이름 리스트를 작성하고 다음 내용을 프로그램하시오 
- insert()로 맨 앞에 새로운 친구 추가
- insert()로 3번째 위치에 새로운 친구 추가
- append()로 마지막에 친구 추가

In [4]:
f = ['Alice','Bob', 'Charlie', 'Dave', 'Emma']

f.insert(0, 'Frank')
f.insert(2, 'Grace')
f.append('Hannah')
f

['Frank', 'Alice', 'Grace', 'Bob', 'Charlie', 'Dave', 'Emma', 'Hannah']

리스트 [1, 2, 3]에 대해 다음과 같은 처리를 하라.
- 두 번째 요소를 17로 수정
- 리스트에 4, 5, 6을 추가
- 첫 번째 요소 제거
- 리스트를 요소 순서대로 배열하기
- 인덱스 3에 25넣기

In [8]:
a = [1,2,3]
a[1] = 17
a +=[4,5,6]
del a[0]
a.sort()
a.insert(3,25)
print(a)

[3, 4, 5, 25, 6, 17]

for 루프를 이용하여 다음과 같은 리스트를 생성하라.
- 0~49까지의 수로 구성되는 리스트
- 1~50까지 수의 제곱으로 구성되는 리스트

In [10]:
a_list = []
for i in range(0,50):
  a_list.append(i)

print(a_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [9]:
a_list = [i for i in range(0,50)]
print(a_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [11]:
a_list = [i**2 for i in range(1,51)]
print(a_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500]

크기가 같은 두 개의 리스트 L, M을 생성하고 두 리스트의 각 요소 합으로 구성되는 새로운 리스트를 생성하라. 예를 들어 L=[1,2,3]이고 M=[4,5,6]이면 [5,7,9]인 리스트 생성

In [14]:
L, M, N = [1,2,3],[4,5,6],[]
for i in range(len(L)):
  N.append(L[i]+M[i])

print(N)

[5, 7, 9]

사용자로부터 5개의 숫자를 문자열로 입력 받아 각 숫자를 +로 연결한 문자열을 생성하라. 예를 들어 2, 5, 11, 33, 55를 입력하면 '2+5+11+33+55'를 생성하라.

In [13]:
num_list = input("5개의 숫자를 입력하세요(구분자: 띄어쓰기):").split()
result = "+".join(num_list)
print(result)

5개의 숫자를 입력하세요(구분자: 띄어쓰기):2 5 11 33 55
2+5+11+33+55

다음 딕셔너리에 대해 물음에 답하라.
1. 사용자가 월을 입력하면 해당 월에 일수를 출력하라
2. 알파벳 순서로 모든 월을 출력하라
3. 일수가 31인 월을 모두 출력하라
4. 월의 일수를 기준으로 오름차순으로 (key-value) 쌍을 출력하라
5. 사용자가 월을 3자리만 입력하면 월의 일수를 출력하라.(Jan, Feb 등)

In [16]:
days = {'January':31, 'February':28, 'March':31, 'April':30,'May':31, 'June':30, 'July':31, 'August':31,'September':30, 'October':31, 'November':30, 'December':31}
month  = input("월을 입력하시오.")
print(days[month.title()])

월을 입력하시오.march
31

In [17]:
print("월을 알파벳 순으로 출력")
days_key = days.keys()
print(sorted(days_key))

월을 알파벳 순으로 출력
['April', 'August', 'December', 'February', 'January', 'July', 'June', 'March', 'May', 'November', 'October', 'September']

In [19]:
print("일수가 31인 월들")
for mon in days:
  if days[mon] == 31:
    print(mon, end=" ")

print()

일수가 31인 월들
January March May July August October December

In [28]:
print("(key-value) 쌍을 일수를 기준으로 오름차순 정렬해서 출력")
days_item = days.items()
r_days = [(day, month) for (month, day) in days_item]
r_days.sort()
days2 = [(month, day) for (day, month) in r_days]
print(days2)

(key-value) 쌍을 일수를 기준으로 오름차순 정렬해서 출력
[('February', 28), ('April', 30), ('June', 30), ('November', 30), ('September', 30), ('August', 31), ('December', 31), ('January', 31), ('July', 31), ('March', 31), ('May', 31), ('October', 31)]

In [29]:
print("사용자가 월을 3자리만 입력하면 월의 일수를 출력하라.(Jan, Feb 등)")
month = input("월의 이름을 입력하세요(3 char):")
for mon in days:
  if mon[0:3] == month.title():
    print(days[mon])

사용자가 월을 3자리만 입력하면 월의 일수를 출력하라.(Jan, Feb 등)
월의 이름을 입력하세요(3 char):jan
31

다음 딕셔너리에 대해 물음에 답하라.
- 전화번호가 8로 끝나는 사용자 이름을 출력하라
- 이메일이 없는 사용자 이름을 출력하라
- 사용자 이름을 입력하면 전화번호, 이메일을 출력하라.
  - 이름이 없으면 '이름이 없습니다'라는 메시지를 출력하라

In [35]:
data=[{'name':'Todd', 'phone':'555-1414', 'email':'todd@mail.net'},{'name':'Helga', 'phone':'555-1618', 'email':'helga@mail.net'},{'name':'Princess', 'phone':'555-3141', 'email':''},{'name':'LJ', 'phone':'555-2718', 'email':'lj@mail.net'}]
for people in data:
  if people['phone'][7]=='8':
    print(people['name'])
print("="*30)

for people in data:
  if people['email']=='':
    print(people['name'])
print("="*30)

s_name = input("찾을 이름을 입력하세요.")
flag = 1

for people in data:
  if people['name'] == s_name:
    print(people['phone'], people['email'])
    flag = 0
    
if flag ==1:
  print("없는 이름입니다.")

Helga
LJ
==============================
Princess
==============================
찾을 이름을 입력하세요.Todd
555-1414 todd@mail.net

1부터 45까지의 수 중에서 6개를 선택하여 로또 번호를 만드는 프로그램

In [43]:
import random

pick = set()

while len(pick)<6:
  n = random.randint(1,45)
  pick.add(n)

#print(pick)
print(sorted(pick))

[5, 16, 22, 24, 30, 40]

학생들의 성적을 딕셔너리로 저장하고, 성적 평균을 계산하는 프로그램을 작성해보세요.

In [44]:
data = {
    "Alice": [85, 90, 95],
    "Bob": [75, 80, 85],
    "Charlie": [95, 95, 95]
}
print("평균 점수")
for name, grade_list in data.items():
  avg = sum(grade_list)/len(grade_list)
  print(f'{name}:{avg}')

평균 점수
Alice:90.0
Bob:80.0
Charlie:95.0

숫자들이 들어있는 리스트에서 중복된 숫자를 제거하고, 남은 숫자들의 합을 계산하는 프로그램을 작성해보세요.

In [45]:
total = sum(set([1, 2, 2, 3, 3, 3, 4, 4, 5]))
print(total)

15

주어진 문자열에서 각 알파벳의 빈도수를 구하는 프로그램을 작성하시오.

In [48]:
text = input("문장을 넣어주세요.")

freq_dict = {}
for char in text:
  if char not in freq_dict:
    freq_dict[char] = 1
  else:
    freq_dict[char] += 1

print(freq_dict)

문장을 넣어주세요.asdfasfdqkwefskf sdjflk fd ads
{'a': 3, 's': 5, 'd': 5, 'f': 6, 'q': 1, 'k': 3, 'w': 1, 'e': 1, ' ': 3, 'j': 1, 'l': 1}

두 개의 리스트가 주어졌을 때, 두 리스트에 공통으로 포함된 요소를 모두 담은 리스트를 반환하는 프로그램을 작성하시오.

In [49]:
set1 = set([1, 2, 3, 4, 5])
set2 = set([2, 4, 6, 8, 10])
result = print(list(set1 & set2))
print(result)

[2, 4]
None

1~n까지의 합을 계산하는 함수

In [51]:
def sum_(n):
  total = 0
  for i in range(1,n+1):
    total += i
  return total

sum_(50)

1275